.heading {
    text-align: center;
    font-size: 160px;
    font-weight: 700;
    color: #00660a51;
    padding-top: 90px;
    width: 100% !important;
}

.container {
    /* background-color: red; */
    /* display: block; */
    width: 100%;
}


.first_row {
    /* background-color: rgb(0, 255, 17)(219, 0, 0); */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image_container {
    width: 33.33%;
    position: relative !important;
    /* background-color: pink; */
    /* filter: hue-rotate(120deg); */
    /* z-index: 99; */
    /* opacity: 9; */
}

.image_container img {
    width: 100%;
    filter: brightness(0.6);
    display: block;
    /* background-color: red; */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_icon img {
    width: 18%;
    filter: brightness(1);
    display: block;
}

.content_heading {
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.content_sub_heading {
    font-size: 16px;
    font-family: 'Lora';
    color: white;
}

@media (max-width:600px) {
    .heading {
        text-align: center;
        font-size: 50px !important;
        padding-top: 90px;
        width: 100%;
    }

    .first_row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .image_container {
        width: 50%;
        position: relative !important;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    .content_heading {
        font-size: 18px;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
    }

    .content_icon img {
        width: 18%;
        filter: brightness(1);
        display: block;
        margin: auto;
    }

}